// Font Variables
$base-font-size: 16px;
$base-line-height: 1.5;
$heading-font-family: "Avenir Next", sans-serif;
$body-font-family: "Work Sans", sans-serif;

// custom
$avenir-next-font: "Avenir Next", sans-serif;
$work-sans-font: "Work Sans", sans-serif;

// breakpoints Variables
$breakpoints-xs: 480px;
$breakpoints-sm: 768px;
$breakpoints-md: 1037px;
$breakpoints-lg: 1200px;

// Color Variables
// $tertiary-white: #f6f6f6;
// $tertiary-white-lighter: #ffffff;
// $secondary-light: #39cdcc;
// $secondary-dark: #4cf9f92b;
// $primary-dark: #213f7d;
// $primary-lighter: #545f7d;
// $primary-light: #21407d31;
// $tertiary-red: #e4033b;
// $tertiary-black: rgba(0, 0, 0, 0.8);
// $tertiary-grey-light: rgba(84, 95, 125, 0.15);
// $tertiary-grey-dark: rgba(33, 63, 125, 0.1);
// $shadow-color: 0px 5px 20px rgba(0, 0, 0, 0.04);

$primary-dark: #213f7d;
$primary-light: #21407d31;
$primary-lighter: #545f7d;
$secondary-dark: #4cf9f92b;
$secondary-light: #39cdcc;
$tertiary-black: rgba(0, 0, 0, 0.8);
$tertiary-red: #e4033b;
$tertiary-white: #f6f6f6;
$tertiary-white-lighter: #ffffff;
$tertiary-white-dark: #fbfbfb;
$tertiary-grey-dark: rgba(33, 63, 125, 0.1);
$tertiary-grey-light: rgba(84, 95, 125, 0.15);
$shadow-color-color: 0px 5px 20px rgba(0, 0, 0, 0.04);

// Font Variables
$fs-1: 2.5rem;
$fs-2: 1.75rem;
$fs-3: 1.625rem;
$fs-4: 1.5rem;
$fs-5: 1.375rem;
$fs-6: 1rem;
$fs-7: 1.125rem;
$fs-8: 0.838rem;
$fs-9: 0.8rem;
$fs-10: 0.875rem; // 14px

$font-caption: 0.75rem; // 12px
$font-small: 0.875rem; // 14px;
$font-medium: 1rem; // 16px
$font-large: 1.25rem; // 20px
$font-xl: 1.5rem; // 24px
$font-2xl: 2.5rem; // 40px

// Font Weight
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

$font-weight-thin: 400;
$font-weight-light: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;
